body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

p,
li,
desc,
input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $color-acent-light;
}

.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.4turn, $color-secondary, $color-secondary-dark);
}
