$color-acent-light: #f9f7f7;
$color-acent-medium: #dbe2ef;
$color-primary: #3f72af;
$color-primary-dark: #355d8f;
$color-secondary: #112d4e;
$color-secondary-dark: #0d243f;

$shadow-small: 0 0 3px 0 rgba($color-secondary-dark, 0.5);
